
  <div class="unique-main-overlay" id="menu">
    <div class="unique-intro">
      <div class="unique-frame">
        <div class="unique-placeholder">Паппи</div>
        <p class="unique-text-description">Маркетплейс для поиска проверенных животных и ответственных специалистов</p>
      </div>
    <div class="unique-frame">
      <div class="unique-profile to_click">
        <div class="unique-div"></div>
        <div class="unique-div-2">
          <div class="unique-text-wrapper">Дмитрий Блохин</div>
          <div class="unique-text-wrapper-2">Покупатель</div>
        </div>
        <div class="unique-buttons-button">
          <div class="unique-SF-cross"><div class="unique-text-wrapper-3">􀻵</div></div>
        </div>
      </div>
      <div class="unique-separator"></div>
      <div class="unique-div-3">
        <div class="unique-cells to_click">
          <div class="unique-div-wrapper"><div class="unique-text-wrapper-4">􀌥</div></div>
          <div class="unique-label-text"><div class="unique-text-wrapper">Сообщения</div></div>
          <div class="unique-right-side-for-cells">
            <div class="unique-rectangle"></div>
            <div class="unique-div-4">
              <div class="unique-title">4</div>
              <div class="unique-title">новых</div>
            </div>
          </div>
        </div>
        <div class="unique-cells to_click">
          <div class="unique-div-wrapper"><div class="unique-text-wrapper-5">􀛧</div></div>
          <div class="unique-label-text"><div class="unique-text-wrapper">Мои объявления</div></div>
        </div>
        <div class="unique-cells to_click">
          <div class="unique-div-wrapper"><div class="unique-text-wrapper-6">􀊵</div></div>
          <div class="unique-label-text"><div class="unique-text-wrapper">Избранное</div></div>
          <div class="unique-right-side-for-cells"><div class="unique-title-2">4</div></div>
        </div>
        <div class="unique-cells to_click">
          <div class="unique-div-wrapper"><div class="unique-text-wrapper-7">􀉪</div></div>
          <div class="unique-label-text"><div class="unique-text-wrapper">Мой аккаунт</div></div>
        </div>
      </div>
    </div>
          <div class="unique-search-frame">
      <div class="unique-search-placeholder">Воспользуйтесь поиском</div>
      <div class="unique-search-div">
        <div class="unique-search-text-wrapper">􀊫</div>
        <p class="unique-search-text">Поиск по породам, услугам и тд.</p>
      </div>
    </div>
<div class="unique-cataloge-frame">
      <div class="unique-cataloge-placeholder">Категории</div>
      <div class="unique-cataloge-div">
        <div class="unique-cataloge-cells to_click">
          <div class="unique-cataloge-SF-cross"><div class="unique-cataloge-text-wrapper">􁉖</div></div>
          <div class="unique-cataloge-label-text">
            <div class="unique-cataloge-placeholder">Котопсиндер</div>
            <div class="unique-cataloge-placeholder-2">Почти как Тиндер</div>
          </div>
        </div>
        <div class="unique-cataloge-cells to_click">
          <div class="unique-cataloge-SF-cross"><div class="unique-cataloge-text-wrapper">􀛧</div></div>
          <div class="unique-cataloge-label-text"><div class="unique-cataloge-placeholder">Каталог</div></div>
        </div>
        <div class="unique-cataloge-cells to_click">
          <div class="unique-cataloge-SF-cross"><div class="unique-cataloge-text-wrapper">􀡶</div></div>
          <div class="unique-cataloge-label-text">
            <div class="unique-cataloge-placeholder">Pet-a-porter</div>
            <div class="unique-cataloge-placeholder-2">Товары</div>
          </div>
          <div class="unique-cataloge-right-side-for-cells">
            <div class="unique-cataloge-title-wrapper"><div class="unique-cataloge-title">􀍪</div></div>
            <div class="unique-cataloge-title-2">Корзина</div>
          </div>
        </div>
        <div class="unique-cataloge-cells to_click">
          <div class="unique-cataloge-SF-cross"><div class="unique-cataloge-text-wrapper">􀾟</div></div>
          <div class="unique-cataloge-label-text"><div class="unique-cataloge-placeholder">Животные из приютов</div></div>
        </div>
        <div class="unique-cataloge-cells to_click">
          <div class="unique-cataloge-SF-cross"><div class="unique-cataloge-text-wrapper">􀊷</div></div>
          <div class="unique-cataloge-label-text">
            <div class="unique-cataloge-placeholder">Потеряшки</div>
            <p class="unique-cataloge-placeholder-2">Если кто-то потерялся или нашелся</p>
          </div>
        </div>
        <div class="unique-cataloge-cells to_click">
          <div class="unique-cataloge-SF-cross"><div class="unique-cataloge-text-wrapper">􀧢</div></div>
          <div class="unique-cataloge-label-text"><div class="unique-cataloge-placeholder">Вязка</div></div>
        </div>
        <div class="unique-cataloge-cells to_click">
          <div class="unique-cataloge-SF-cross"><div class="unique-cataloge-text-wrapper">􀦡</div></div>
          <div class="unique-cataloge-label-text">
            <div class="unique-cataloge-placeholder">VIP-консьерж</div>
            <div class="unique-cataloge-placeholder-2">Мы со всем поможем</div>
          </div>
        </div>
        <div class="unique-cataloge-cells to_click">
          <div class="unique-cataloge-SF-cross"><div class="unique-cataloge-text-wrapper">􁌷</div></div>
          <div class="unique-cataloge-label-text"><div class="unique-cataloge-placeholder">Поддержка</div></div>
        </div>
      </div>
    </div>
    </div>
    <div class="unique-close-section">
      <button class="unique-close-button" id="close-menu">􀆄</button>
    </div>
  </div>
