/* screen - u1082u1072u1090u1072u1083u1086u1075 */

.u1082u1072u1090u1072u1083u1086u1075 {
  align-items: flex-end;
  background-color: var(--gray-nurse);
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.u1082u1072u1090u1072u1083u1086u1075 .status-bar-navbar {
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  border-radius: 0px 0px 16px 16px;
  display: flex;
  flex: 0 0 auto;
  gap: 4px;
  justify-content: center;
  overflow: hidden;
  padding: 0px 0px 12px;
  width: 100%;
}

.u1082u1072u1090u1072u1083u1086u1075 .frame-51 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.u1082u1072u1090u1072u1083u1086u1075 .status-bar-1 {
  align-items: flex-start;
  display: inline-flex;
  gap: 10px;
}

.u1082u1072u1090u1072u1083u1086u1075 .left-side {
  background-image: url(../img/time---light---base-1.svg);
  background-size: 100% 100%;
  height: 21px;
  left: 21px;
  position: absolute;
  top: 14px;
  width: 54px;
}

.u1082u1072u1090u1072u1083u1086u1075 .text-54 {
  letter-spacing: -0.50px;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u1082u1072u1090u1072u1083u1086u1075 .text_label-1 {
  letter-spacing: -0.50px;
  margin-top: -1.00px;
  text-align: center;
}

.u1082u1072u1090u1072u1083u1086u1075 .text_label-2 {
  letter-spacing: -0.50px;
  text-align: center;
}

.u1082u1072u1090u1072u1083u1086u1075 .frame-513161 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  padding: 0px 12px;
  position: relative;
  width: 100%;
}

.u1082u1072u1090u1072u1083u1086u1075 .frame-512591 {
  align-items: center;
  align-self: stretch;
  background-color: var(--cultured-pearl);
  border: 1px solid;
  border-color: var(--black-4);
  border-radius: 12px;
  display: flex;
  gap: 8px;
  height: 40px;
  padding: 0px 12px;
  position: relative;
  width: 100%;
}

.u1082u1072u1090u1072u1083u1086u1075 .text-55 {
  letter-spacing: -0.07px;
  line-height: 20px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.u1082u1072u1090u1072u1083u1086u1075 .text-13 {
  color: var(--black-2);
  flex: 1;
  font-family: var(--font-family-sf_pro-regular);
  font-size: var(--font-size-xl);
  font-weight: 400;
  letter-spacing: -0.07px;
  line-height: 20px;
  position: relative;
}

.u1082u1072u1090u1072u1083u1086u1075 .frame-512593 {
  align-self: stretch;
  background-color: var(--white);
  border-radius: 16px;
  height: 120px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.u1082u1072u1090u1072u1083u1086u1075 .text-56 {
  color: var(--black);
  font-family: var(--font-family-sf_pro-medium);
  font-size: var(--font-size-xxl);
  font-weight: 500;
  left: 12px;
  letter-spacing: -0.50px;
  line-height: 19.2px;
  position: absolute;
  top: 11px;
  width: 191px;
}

.u1082u1072u1090u1072u1083u1086u1075 .text-57 {
  color: var(--black-5);
  font-family: var(--font-family-sf_pro-semibold);
  font-size: 64px;
  font-weight: 400;
  left: 258px;
  letter-spacing: -0.50px;
  line-height: normal;
  position: absolute;
  top: 21px;
  width: 95px;
}

.u1082u1072u1090u1072u1083u1086u1075 .frame-512895 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  border-radius: 16px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  padding: 12px;
  position: relative;
  width: 100%;
}

.u1082u1072u1090u1072u1083u1086u1075 .frame-512893 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.u1082u1072u1090u1072u1083u1086u1075 .frame-5128 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 4px;
  position: relative;
}

.u1082u1072u1090u1072u1083u1086u1075 .text {
  left: 29px;
  letter-spacing: -0.50px;
  line-height: normal;
  position: absolute;
  top: 13px;
  white-space: nowrap;
}

.u1082u1072u1090u1072u1083u1086u1075 .text-1 {
  align-self: stretch;
  letter-spacing: -0.20px;
  line-height: 16px;
  position: relative;
  text-align: center;
}

.u1082u1072u1090u1072u1083u1086u1075 .text-2 {
  left: 30px;
  letter-spacing: -0.50px;
  line-height: normal;
  position: absolute;
  top: 13px;
  white-space: nowrap;
}

.u1082u1072u1090u1072u1083u1086u1075 .frame-512894 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.u1082u1072u1090u1072u1083u1086u1075 .text-72 {
  color: var(--black);
  font-family: var(--font-family-sf_pro-medium);
  font-size: var(--font-size-xxl);
  font-weight: 500;
  left: 30px;
  letter-spacing: -0.50px;
  line-height: normal;
  position: absolute;
  top: 14px;
  white-space: nowrap;
}

.u1082u1072u1090u1072u1083u1086u1075 .frame-51289 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  border-radius: 16px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  position: relative;
  width: 100%;
}

.u1082u1072u1090u1072u1083u1086u1075 .frame-512898 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
  width: 100%;
}

.u1082u1072u1090u1072u1083u1086u1075 .text-3 {
  flex: 1;
  letter-spacing: -0.50px;
  line-height: 24.0px;
  margin-top: -1.00px;
  position: relative;
}

.u1082u1072u1090u1072u1083u1086u1075 .button {
  align-items: center;
  background-color: var(--cultured-pearl);
  border: 1px solid;
  border-color: var(--black-4);
  border-radius: 12px;
  display: inline-flex;
  flex: 0 0 auto;
  height: 26px;
  justify-content: center;
  padding: 0px 4px 0px 12px;
  position: relative;
}

.u1082u1072u1090u1072u1083u1086u1075 .text_label {
  color: var(--black-6);
  font-family: var(--font-family-sf_pro-medium);
  font-size: var(--font-size-l);
  font-weight: 500;
  letter-spacing: -0.06px;
}

.u1082u1072u1090u1072u1083u1086u1075 .text-4 {
  letter-spacing: -0.50px;
  line-height: normal;
  position: relative;
  text-align: center;
  width: fit-content;
}

.u1082u1072u1090u1072u1083u1086u1075 .frame-512885::-webkit-scrollbar {
  display: none;
  width: 0;
}

.u1082u1072u1090u1072u1083u1086u1075 .frame-512885 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  overflow-x: scroll;
  position: relative;
  width: 351px;
}

.u1082u1072u1090u1072u1083u1086u1075 .card {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 140px;
}

.u1082u1072u1090u1072u1083u1086u1075 .image {
  align-self: stretch;
  background-color: var(--cultured-pearl);
  border: 1px solid;
  border-color: var(--black-4);
  border-radius: 8px;
  height: 140px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.u1082u1072u1090u1072u1083u1086u1075 .text-5 {
  left: 52px;
  letter-spacing: -0.50px;
  line-height: normal;
  position: absolute;
  top: 54px;
}

.u1082u1072u1090u1072u1083u1086u1075 .frame-513164 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.u1082u1072u1090u1072u1083u1086u1075 .view-2 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  gap: 8px;
  width: 100%;
}

.u1082u1072u1090u1072u1083u1086u1075 .view {
  align-items: flex-start;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 4px;
}

.u1082u1072u1090u1072u1083u1086u1075 .text-6 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  align-self: stretch;
  display: -webkit-box;
  height: 32px;
  letter-spacing: -0.50px;
  line-height: 16px;
  margin-top: -1.00px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}

.u1082u1072u1090u1072u1083u1086u1075 .address {
  letter-spacing: -0.50px;
  line-height: 16px;
}

.u1082u1072u1090u1072u1083u1086u1075 .like-button {
  align-items: center;
  background-color: var(--cultured-pearl);
  border: 1px solid;
  border-color: var(--black-4);
  border-radius: 26px;
  display: flex;
  gap: 4px;
  height: 30px;
  justify-content: center;
  overflow: hidden;
  padding: 0px 12px;
  position: relative;
  width: 30px;
}

.u1082u1072u1090u1072u1083u1086u1075 .text-7 {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: -4.50px;
  margin-right: -4.50px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.u1082u1072u1090u1072u1083u1086u1075 .view-1 {
  align-items: center;
  align-self: stretch;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 2px 4px;
  width: 100%;
}

.u1082u1072u1090u1072u1083u1086u1075 .text-8 {
  letter-spacing: 0;
  line-height: 12.0px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.u1082u1072u1090u1072u1083u1086u1075 .text-9 {
  letter-spacing: 0;
  line-height: 12.0px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.u1082u1072u1090u1072u1083u1086u1075 .text-10 {
  align-self: stretch;
  letter-spacing: -0.50px;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
}

.u1082u1072u1090u1072u1083u1086u1075 .address-1 {
  letter-spacing: 0;
  line-height: 14.0px;
}

.u1082u1072u1090u1072u1083u1086u1075 .view-3 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  gap: 8px;
  width: 100%;
}

.u1082u1072u1090u1072u1083u1086u1075 .frame-512607 {
  align-items: center;
  align-self: stretch;
  background-color: var(--cultured-pearl);
  border: 1px solid;
  border-color: var(--black-4);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: center;
  padding: 0px 12px;
  position: relative;
  width: 140px;
}

.u1082u1072u1090u1072u1083u1086u1075 .frame-512586 {
  align-items: center;
  background-color: var(--gray-nurse);
  border-radius: 22px;
  display: flex;
  gap: 8px;
  height: 36px;
  justify-content: center;
  overflow: hidden;
  padding: 10px;
  position: relative;
  width: 36px;
}

.u1082u1072u1090u1072u1083u1086u1075 .text-11 {
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: -2.00px;
  margin-top: -2.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.u1082u1072u1090u1072u1083u1086u1075 .text-12 {
  align-self: stretch;
  letter-spacing: -0.50px;
  line-height: 16px;
  position: relative;
  text-align: center;
}

.u1082u1072u1090u1072u1083u1086u1075 .view-4 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  gap: 8px;
  width: 100%;
}

.u1082u1072u1090u1072u1083u1086u1075 .view-5 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  gap: 8px;
  width: 100%;
}

.u1082u1072u1090u1072u1083u1086u1075 .home-indicator {
  align-self: stretch;
  height: 34px;
  position: relative;
  width: 100%;
}

.u1082u1072u1090u1072u1083u1086u1075 .home-indicator-1 {
  background-color: var(--black-6);
  border-radius: 100px;
  height: 5px;
  left: 121px;
  position: relative;
  top: 21px;
  width: 134px;
}

.u1082u1072u1090u1072u1083u1086u1075 .address-2 {
  align-self: stretch;
  position: relative;
}

.u1082u1072u1090u1072u1083u1086u1075 .status-bar-2 {
  flex-direction: column;
  position: relative;
}

.u1082u1072u1090u1072u1083u1086u1075 .text_label-3 {
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u1082u1072u1090u1072u1083u1086u1075 .view-6 {
  display: flex;
  position: relative;
}
